[submodule "Sources/dvpLibC"]
	path = Sources/dvpLibC
	url = https://github.com/Knitschi/dvpLibC.git
[submodule "Sources/dvpLibB1"]
	path = Sources/dvpLibB1
	url = https://github.com/Knitschi/dvpLibB1.git
[submodule "Sources/dvpLibB2"]
	path = Sources/dvpLibB2
	url = https://github.com/Knitschi/dvpLibB2.git
[submodule "Sources/CPFCMake"]
	path = Sources/CPFCMake
	url = https://github.com/Knitschi/CPFCMake.git
[submodule "Sources/CPFBuildScripts"]
	path = Sources/CPFBuildScripts
	url = https://github.com/Knitschi/CPFBuildScripts.git
