[submodule "Sources/dvpLibC"]
	path = Sources/dvpLibC_1_1_0
	url = https://github.com/Knitschi/dvpLibC.git
[submodule "Sources/dvpLibB1"]
	path = Sources/dvpLibB1_2_0_0
	url = https://github.com/Knitschi/dvpLibB1.git
[submodule "Sources/dvpLibB2"]
	path = Sources/dvpLibB2_1_0_0
	url = https://github.com/Knitschi/dvpLibB2.git
[submodule "Sources/CPFCMake"]
	path = Sources/CPFCMake
	url = https://github.com/Knitschi/CPFCMake.git
[submodule "Sources/CIBuildConfigurations"]
	path = Sources/CIBuildConfigurations
	url = https://github.com/Knitschi/CIBuildConfigurations.git
[submodule "Sources/CPFBuildscripts"]
	path = Sources/CPFBuildscripts
	url = https://github.com/Knitschi/CPFBuildscripts.git
[submodule "Sources/dvpLibC_2_0_0"]
	path = Sources/dvpLibC_2_0_0
	url = https://github.com/Knitschi/dvpLibC.git
